<html>
<title>My Blog</title>
<body>
<div>
    <form method="post">
        <input type="text" required name="text" placeholder="Your message"/>
        <input type="text" name="tag" placeholder="Tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Publish</button>
    </form>
</div>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<div>
    <form method="post" action="delete">>
        <input type="number" name="deleteById" min="1" required placeholder="Delete message by ID"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Delete</button>
    </form>
</div>
<!--<div>-->
    <!--<form method="post" action="delete">>-->
        <!--<input type="number" name="deleteById" min="1" required placeholder="Delete message by ID"/>-->
        <!--<input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
        <!--<button type="submit">Delete</button>-->
    <!--</form>-->
<!--</div>-->


{{#messages}}
    <div>
        <span>№{{id}}</span>
        <strong>({{authorName}})</strong>
        <!--<i>({{tag}})-</i>-->
        <b>{{text}}</b>
    </div>
{{/messages}}
</body>
</html>